body,html{
    margin: 0;
    height: 100%;
    background-image: url("../images/01.jpg");
}

.whole{
    margin-left: 350px;
    position: absolute;
    float: left;
    height: 130%;
    width: 800px;
    background-color: white;
    opacity: 0.8;
}
.title{
    background-color: turquoise;
    height: 10%;

}
.intro{
    position: absolute;
    height: 60px;
    width: 200px;
    background-image: url("../images/06.jpg");
    margin-bottom: 10px;
    margin-left: 900px;
    opacity: 0.8;
}
#a{
    width: 100px;
    height: 50px;
    background-color:blue;
}
#b{
    width: 100px;
    height: 50px;
    background-color:blue;
}
a{
    text-decoration: none;
    color: turquoise;
}
a:hover{
    color: bisque;
}