body,html{
    margin: 0;
    height: 100%;
    background-image: url("../images/01.jpg");
}
.right{
    float: left;

    height: 130%;
    width: 400px;
}
.bordered {
    border-style:solid;
    width:600px;
    height:300px;
}
#bg{
    width:600px;
    height:310px;
    background: url(678.png);
}
#tp{
    width:600px;
    height: 620px;
    background:url("12345.jpg")
}
.whole{
    margin-left: 700px;
    position: absolute;
    float: left;
    height: 130%;
    width: 800px;
    background-color: white;
    opacity: 0.8;
}
.title{
    background-color: green;
    height: 10%;

}
.intro{
    position: absolute;
    height: 60px;
    width: 200px;
    background-image: url("../images/06.jpg");
    margin-bottom: 10px;
    margin-left: 900px;
    opacity: 0.8;
}
#a{
    width: 100px;
    height: 50px;
    background-color:blue;
}
#b{
    width: 100px;
    height: 50px;
    background-color:blue;
}
a{
    text-decoration: none;
    color: turquoise;
}
a:hover{
    color: bisque;
}