body,html{
    margin: 0;
    height: 100%;
    background-image: url("../images/01.jpg");
    position: fixed;
}

#tp{
    width:600px;
    height: 620px;
    margin-left: 450px;
    margin-top: 100px;
    text-align: center;
}